{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
<header class="jumbotron jumbotron-fluid">
    <div class="container-fluid text-center"> 
       <h1 class="display-4"> Find and persue your purposeful life </h1>
       <p class="lead pb-4">We help you maximize your life .</p>
    </div>
</header>


<section id="services" class="container">
        <div class="row text-center">
           <div class="col-md-4 mb-4">
              <div class="card h-100">
                 <img class="card-img-top" src="" alt="Learn">
                 <div class="card-body">
                    <h4 class="card-title">Start from inside</h4>
                    <p class="card-text"> Discover and highlight your own core values and personality</p>
                    <p class="card-text"> Know yourself</p>

                 </div>
              </div>
           </div>
           
           <div class="col-md-4 mb-4">
              <div class="card h-100">
                 <img class="card-img-top" src="" alt="Manage">
                 <div class="card-body">
                    <h4 class="card-title"> Make it your own </h4>
                       <p class="card-text">  Internalize and summarize core values in a mission statement
                       </p>
                 </div>
              </div>
           </div>
           
           <div class="col-md-4 mb-4">
              <div class="card h-100">
                 <img class="card-img-top" src="" alt="Transaction">
                 <div class="card-body">
                    <h4 class="card-title">  Apply it in life   </h4>
                    <p class="card-text">  Become a guiding principle in getting what you want out of life  </p>
                 </div>
              </div>
           </div>
        </div>
     </section>



     
     <div  class="container-fluid">
       <p class="lead text-center"> You don't need to go to long trips , you just neeed to define yourself from the inside out </p>
        
        <!-- <ul>
           <li> Time  alone to think</li>
           <li> Writing utensil or keyboard </li>
           <li> paper or screen </li>
           <li> Thought provoking questions</li>
        </ul>-->



   <h3 class = text-center > Things Needed:</h3>
  <div class="container">
    <div class="row h-100">
      <div class="col-sm-12 align-self-center"></div>
      <div class="card card-block w-50 mx-auto">
        <ul>
          <li>Time alone to Think </li>
          <li> Writing utensil or keyboard</li>
          <li>Paper or screen </li>
          <li>Thought Provoking Question</li>
          <ol> 
            <li>what is important in my life? </li>
             <li>what inspires you? </li>
             <li>what is a successful life to you? </li>
             <li>what is  </li>
             <li> what is important in my life ?</li>

          </ol>
          <li> Keep it in a place for casual reminders</li>

          <li> <a href="https://www.developgoodhabits.com/personal-mission-statement/ "> Resource  Website</a> </li>
        </ul>
      </div>
      <div class="col-xs-4"></div>
    </div>
  </div>
       


   
    <div class=" container mt-2" >
     <h3 class = "text-center "> Benefits:</h3>
   </div>


     <div class="container">
      <div class="row h-100">
        <div class="col-sm-12 align-self-center"></div>
        <div class="card card-block w-50 mx-auto">
          <ul>
            <li>Focus on what is important to you </li>
            <li>Set and accomplish goals</li>
            <li>Gain greater awareness of life</li>
            <li>Greater confidence in self</li>
          </ul>
        </div>
        <div class="col-xs-4"></div>
      </div>
    </div>






   <section class="container-fluid text-center py-4 mt-4" id="contact">
     <h2 class="display-4 pb-4 my-4">Browse through resource of  practical life advise</h2>
          <a href="#" class="btn btn-primary btn-lg mb-4" role="button">check out blog</a>
  </section>



{% endblock %}
