{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
<header class="jumbotron jumbotron-fluid">
    <div class="container-fluid text-center"> 
       <h1 class="display-4"> Find and persue your purposeful life </h1>
       <p class="lead pb-4">We help you maximize your life .</p>
    </div>
</header>


<section id="services" class="container">
        <div class="row text-center">
           <div class="col-md-4 mb-4">
              <div class="card h-100">
                 <img class="card-img-top" src="" alt="Learn">
                 <div class="card-body">
                    <h4 class="card-title">Start from inside</h4>
                    <p class="card-text"> Discover and highlight your own core values and personality</p>
                    <p class="card-text"> Know yourself</p>

                 </div>
              </div>
           </div>
           
           <div class="col-md-4 mb-4">
              <div class="card h-100">
                 <img class="card-img-top" src="" alt="Manage">
                 <div class="card-body">
                    <h4 class="card-title"> Make it your own </h4>
                       <p class="card-text">  Internalize and summarize core values in a mission statement
                       </p>
                 </div>
              </div>
           </div>
           
           <div class="col-md-4 mb-4">
              <div class="card h-100">
                 <img class="card-img-top" src="" alt="Transaction">
                 <div class="card-body">
                    <h4 class="card-title">  Apply it in life   </h4>
                    <p class="card-text">  Become a guiding principle in getting what you want out of life  </p>
                 </div>
              </div>
           </div>
        </div>
     </section>


{% endblock %}
